.analytics-sessions-users-wrapper {
  margin: 40px;
  overflow-y: hidden;
}

@media (max-width: 532px) {
  .analytics-sessions-users-wrapper {
    margin: 10px;
  }
}
md-card-content{
  min-width: 600px;
}
.filter-container {
  width: 100%;
}

.analyticssessions-users-charts {
  > div {
    margin: 55px 15px;
  }
}

md-card {
  min-width: 90%;
  min-height: 70%;
}

@media (max-width: 600px) {
  md-card {
    min-width: 450px;
  }
}

@media(max-width: 970px) {
  md-datepicker {
    width: 200px;
  }
}

md-input-container {
  min-width: 150px;
  margin: 0px 45px;
}

.pie-charts {
  max-height: 260px;
}
