<md-content class="analytics-sessions-users-wrapper" layout-xs="column" layout="row" layout-margin
            layout-align="center center">
  <md-card>
    <div layout="row">
      <div flex="50" hide-xs>
        <md-card-header>
          <md-card-avatar>
            <md-icon md-font-library="material-icons" class="md-light md-48">trending_up</md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{vm.label}}</span>
          </md-card-header-text>
        </md-card-header>
      </div>
      <div class="report-tools" flex="50" layout="row" layout-sm="column" layout-xs="column" layout-padding layout-wrap
           flex-xs="50" flex-offset-xs="20">
        <md-datepicker ng-model="vm.startDate" md-min-date="vm.minDate" md-max-date="vm.maxDate"
                       md-placeholder="Start Date"></md-datepicker>
        <md-datepicker ng-model="vm.endDate" md-max-date="vm.maxDate" md-placeholder="End Date"></md-datepicker>
        <md-input-container class="md-block">
          <md-select ng-model="vm.selectedView" placeholder="View">
            <md-option ng-repeat="view in vm.views" ng-value="view">
              {{view}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="vm.disableRequest" ng-click="vm.checkDateValidity()">
          Request
        </md-button>
      </div>
    </div>
    <md-card-content flex-xs="50" flex-offset-xs="20">
      <div ng-if="vm.selectedView=='Grid'">
        <md-toolbar hide-xs class="md-table-toolbar md-default" ng-if="!vm.showFilter">
          <div class="md-toolbar-tools">
            <span>Sessions / Users Grid View</span>
            <md-button hide-xs class="md-icon-button" ng-click="vm.showFilter=true">
              <md-icon class="material-icons">search</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-toolbar hide-xs class="md-table-toolbar md-default" ng-if="vm.showFilter " aria-hidden="true">
          <div class="md-toolbar-tools">
            <md-input-container md-no-float class="md-block filter-container">
              <md-icon class="material-icons">search</md-icon>
              <input ng-model="vm.queryGrid.filter" type="text" placeholder="Search in all fields">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="vm.showFilter=false">
              <md-icon class="material-icons">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-table-container>
          <table md-table ng-model="vm.selectedRow" md-progress="vm.promise">
            <thead md-head>
            <tr md-row>
              <th md-column md-order-by ng-repeat="columnHeader in vm.gridAnalyticsData.columnHeaders">
                {{(columnHeader.name.split(':')[1]).toUpperCase()}}
              </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="row" md-select-id="{{row[0]}}" md-auto-select ng-repeat="row in vm.gridAnalyticsData.rows
            | filter: vm.queryGrid.search | orderBy: vm.queryGrid.order | limitTo: vm.queryGrid.limit : (vm.queryGrid.page -1) * vm.queryGrid.limit">
              <td md-cell>{{row[0] | dateFilter:'DD-MM-YYYY'}}</td>
              <td md-cell>{{row[1]}}</td>
              <td md-cell>{{row[2]}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="vm.queryGrid.limit" md-page="vm.queryGrid.page" md-options="vm.queryGrid.options"
                             md-total="{{vm.gridAnalyticsData.rows.length}}" md-on-paginate="vm.onPaginate"
                             md-page-select></md-table-pagination>
      </div>

      <div ng-if="vm.selectedView=='Chart' && vm.selectedAnalyticsItem.id=='sessions-users'"
           class="analyticssessions-users-charts">
        <div class="linechart_material"></div>
        <div class="columnchart_material"></div>
        <div class="pie-charts" layout="row" layout-sm="column" layout-xs="column">
          <div flex="50" class="donutchart1"></div>
          <div flex="50" class="donutchart2"></div>
        </div>
      </div>
      <div ng-if="vm.selectedView=='Chart' && vm.selectedAnalyticsItem.id=='geolocations'"
           class="analyticssessions-users-charts">
        <div class="geochart"></div>
      </div>
    </md-card-content>
  </md-card>
</md-content>
<md-progress-circular md-mode='indeterminate' md-diameter="100" class="progress-position"
                      ng-if="vm.loading"></md-progress-circular>
