{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "keyCodes": true,
    "tizen": true,
    "sweetAlert": true,
    "webapis": true,
    "webOS": true,
    "_": true,
    "$": true,
    "plyr": true,
    "swal": true,
    "ga": true
  }
}
