<md-content class="analytics-wrapper" layout-xs="column" layout="row" layout-margin
            layout-align="center center">
  <md-card>
    <div layout="row">
      <div flex="50" hide-xs>
        <md-card-header>
          <md-card-avatar>
            <md-icon md-font-library="material-icons" class="md-light md-48">trending_up</md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{vm.label}}</span>
          </md-card-header-text>
        </md-card-header>
      </div>
      <div class="report-tools" flex="50" layout="row" layout-sm="column" layout-xs="column" layout-padding layout-wrap
           flex-xs="50" flex-offset-xs="20">
        <md-datepicker ng-model="vm.startDate" md-max-date="vm.maxDate"
                       md-placeholder="Start Date"></md-datepicker>
        <md-datepicker ng-model="vm.endDate" md-min-date="vm.startDate" md-max-date="vm.maxDate" md-placeholder="End Date"></md-datepicker>
        <md-input-container class="md-block">
          <md-select ng-model="vm.selectedView" placeholder="View">
            <md-option ng-repeat="view in vm.views" ng-value="view">
              {{view}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="vm.disableRequest" ng-click="vm.checkDateValidity()">
          Request
        </md-button>
      </div>
    </div>
    <md-card-content flex-xs="50" flex-offset-xs="20">
      <div ng-if="vm.selectedView=='Grid'" ng-repeat="analyticsObj in vm.analyticsData">
        <div layout="row" class="totals-for-all-results" flex-offset="40" flex-offset="20"
             ng-repeat="(k,prop) in analyticsObj.totalsForAllResults">
          <div flex="30" class="key">{{(k.split(':')[1]).toUpperCase()}}:</div>
          <div flex="30">{{prop}}</div>
        </div>
        <md-toolbar hide-xs class="md-table-toolbar md-default" ng-if="!vm.showFilter">
          <div class="md-toolbar-tools">
            <span>{{analyticsObj.queryItem.label}}</span>
            <md-button hide-xs class="md-icon-button" ng-click="vm.showFilter=true">
              <md-icon class="material-icons">search</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-toolbar hide-xs class="md-table-toolbar md-default" ng-if="vm.showFilter " aria-hidden="true">
          <div class="md-toolbar-tools">
            <md-input-container md-no-float class="md-block filter-container">
              <md-icon class="material-icons">search</md-icon>
              <input ng-model="vm.queryGrid.filter" type="text" placeholder="Search in all fields">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="vm.showFilter=false">
              <md-icon class="material-icons">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-table-container>
          <table md-table ng-model="vm.selectedRow" md-progress="vm.promise">
            <thead md-head>
            <tr md-row>
              <th md-column md-order-by ng-repeat="columnHeader in analyticsObj.columnHeaders"
                  ng-click="vm.orderGrid($parent.$index,$index)">
                {{(columnHeader.name.split(':')[1]).toUpperCase()}}
                <i class="material-icons" ng-if="$index==vm.ordering.index && vm.ordering.status=='descending'">arrow_drop_up</i>
                <i class="material-icons" ng-if="$index==vm.ordering.index && vm.ordering.status=='ascending'">arrow_drop_down</i>
              </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="row"  md-auto-select ng-repeat="row in analyticsObj.rows
            | filter: vm.queryGrid.filter | orderBy: vm.queryGrid.order | limitTo: vm.queryGrid.limit : (vm.queryGrid.page -1) * vm.queryGrid.limit">
              <td md-cell ng-repeat="rowItem in row track by $index">
                <div ng-if="analyticsObj.queryItem.mapping[$index]=='date'">{{rowItem | dateFilter:'DD-MM-YYYY'}}</div>
                <div ng-if="analyticsObj.queryItem.mapping[$index]!='date'">{{rowItem}}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="vm.queryGrid.limit" md-page="vm.queryGrid.page" md-options="vm.queryGrid.options"
                             md-total="{{analyticsObj.rows.length}}" md-on-paginate="vm.onPaginate"
                             md-page-select></md-table-pagination>
      </div>

      <div ng-if="vm.selectedView=='Chart'" class="analytics-charts"
           ng-repeat="analyticsObj in ::vm.analyticsData">
        <div ng-repeat="chart in ::analyticsObj.queryItem.chartContainers" class="{{::chart.replace('.','')}}"></div>
      </div>
    </md-card-content>
  </md-card>
</md-content>
<md-progress-circular md-mode='indeterminate' md-diameter="100" class="progress-position"
                      ng-if="vm.loading"></md-progress-circular>
