.analytics-wrapper {
  margin: 40px;
  overflow-y: hidden;
}

th {
  outline: 0;
}

md-card-content {
  min-width: 600px;
}

.filter-container {
  width: 100%;
}

.analytics-charts {
  > div {
    margin: 55px 15px;
  }
}

md-card {
  min-width: 90%;
  min-height: 70%;
}

md-input-container {
  min-width: 150px;
  margin: 0px 45px;
}

.pie-charts {
  max-height: 260px;
}

.totals-for-all-results {
  font-size: 18px;
  margin-top: 20px;
  .key {
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  md-card {
    min-width: 450px;
  }
  .totals-for-all-results {
    font-size: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 532px) {
  .analytics-sessions-users-wrapper {
    margin: 10px;
  }
}

@media(max-width: 970px) {
  md-datepicker {
    width: 200px;
  }
}
